<template>
  <div id="app">
    <h1>{{title}}</h1>
  </div>
</template>

<script>
export default {
  name: 'app',
  data() {
    return {
      title: "AltMonitor"
    }
  },
  components: {
  }
}
</script>
